
* {
    margin: 0;
    padding: 0;
    
}

body {
    background: rgb(59, 59, 63);
    color: rgb(233, 233, 233);
    overflow: scroll;
    cursor: default;
    overflow-x: hidden;
}

.nav-link:hover {
    text-decoration: underline;
}

.projectAreaHeader {
    border: 2px solid white;
    border-radius: 9px;
}

@media (min-width: 0px) {
    /*Header and Nav section */
    header h1, nav ul, nav ul li {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        margin: 0 5px;
    }

    header {
        font-family: Helvetica;
    }

    header h1 {
        font-weight: lighter;
    }

    nav ul {
        float: right;
    }

    nav ul li {
        color: rgb(226, 222, 222);

    }

    nav ul li:hover {
        text-decoration: none;
    }

    /* Banner section */
    .aboutMe {
        font-weight: lighter;
        width: 100%;
        background: url('./pics/background.jpg');
        background-size: cover;
        background-position: center;
    }

    .headerDiv {
        font-family: sans-serif;
        width: 100%;
        background: rgba(0,0,0,.65);
        color: rgb(240,240,240);
    }

    .headerDiv p {
        width: 95vw;
        margin: auto;
        padding: 35px 0;
        font-size: 1.3em;
        text-align: center;
    }
    
    main, footer {
        font-family: 'Arimo', sans-serif;  
    }

    /* Project thumbnail section */
    .projectArea {    
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: -3vh;
        grid-row-gap: 12vh;
        padding-bottom: 10vh;
    }

    .projectAreaHeader { 
        font-size: .8em;
        width: 90%;
        margin: 15% auto;
        margin-bottom: -5%;
        padding: 5% 0;
        grid-column: span 6;
        padding-left: 5px;
    }
    
    .projectAreaHeader h1 {
        margin: 2vh 5%;
    }

    .projectAreaHeader p {
        margin: 2vh 5%;
        font-size: 1.4em;
    }

    /* For each project */
    .project {
        grid-column: span 6;
        position: relative;
        width: 100%;
        height: auto;
        max-height: 76vw;
        margin: auto;
        overflow: hidden;
        box-shadow: 5px;
        color: black;
        box-shadow: 7px 10px 5px rgb(29, 29, 36);
        border-radius: 0 0 2px 2px;
        transition: all .15s;
    }

    .project img {
        width: 100%;
        height: auto; 
    }

    .caption-container {
        position: relative;
    }

    .caption {
        height: 0%;
        display: none;
    }
    
    /* For projects on hover */
    .project:hover .caption {
        display: inline-block;
        position: absolute;
        top: 0px;
        text-align: left;
        background-color: rgba(250,250,250,.8);
        color: black;
        height: 100%;
        font-size: 1.3em;
        -webkit-transition: all .15s;
        -moz-transition: all .15s;        
        transition: all .15s;
    }
    
    .project:hover .caption-text {
        padding: 0 15px;
        text-align: center;
        background: radial-gradient(rgba(250,250,250,.2) 50%, rgba(250,250,250,0) 75%);
        margin-top: 10%;
        
    }

    .project:hover .projectTitle {
        border-bottom: 2px solid rgb(111, 200, 245);
        border-top: 2px solid rgb(111, 200, 245);
        padding: 10px 0;
        font-size: 1.5em;
        -webkit-transition: all .15s;
        -moz-transition: all .15s;
        transition: all .15s;
    }

    .project:hover {
        border-radius: 1px;
        box-shadow: 3px 4px 4px rgb(25, 25, 31);
        -webkit-transition: all .15s;
        -moz-transition: all .15s;
        transition: all .15s;
    }

    .projectTitle {      
        text-align: center;
        font-size: 1.4em;
        font-weight: 400;
        padding: 7px;
        margin: 0 auto;
        background: rgb(114, 114, 121);
        color: rgb(238, 237, 237);
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        -webkit-transition: all .15s;
        -moz-transition: all .15s;        
        transition: all .15s;
    }

    /* for footer/contact area */
    footer {
        font-size: 1.5em;
        text-align: center;
        padding: 20vh;
    }

    footer h1 {
        padding-bottom: 30px;
    }

    .socialMediaIcon {
        width: 80px;
        height: auto;
        margin: 15px;
    }

    .iconContainer {
        width: 90%;
        text-align: center;
        margin: auto;
    }
}

@media (min-width: 600px) {
    header h1, nav ul, nav ul li {
        display: inline-block;
        height: 60px;
        line-height: 60px;
        margin: 0 5px;
    }

    header {
        font-size: 1.3em;
        padding: 0 25px;
    } 

    .headerDiv p {
        width: 70vw;
        line-height: 1.4em;
        font-size: 1.7em;
        padding: 30px 0;
    }

    .projectArea {
        grid-column-gap: 15px;
        width: 98%;
        margin: auto;
        font-size: 1.4em;
    }
    
    .projectAreaHeader {
        margin-top: 7%;
    }

    .project {
        width: 98%;
        height: 32vw;
        grid-column:  6/2;
        height: 35vh;
        margin: auto;
    }

    .caption-container img {
        min-height: 35vh;
       
    }
    
    .caption-text {
        font-size: .8em;
    }
}

@media (min-width: 900px) {
    
    nav h1 {
        padding-left: 10px;
    }

    nav ul li {
        font-size: 1em;
    }

    .aboutMeBlurbDiv {   
        width: 100%;
        margin: auto; 
        font-size: 1.15em;
        padding: 25px 0;
    }

    .aboutMeBlurbDiv p {
        width: 80vw;
    }
    
    
}

@media (min-width: 1200px) {
    header h1, nav ul, nav ul li {
        display: inline-block;
        height: 70px;
        line-height: 70px;
        margin: 0 5px;
    }

    header h1 {
        font-size: 1.7em;
    }

    nav ul {
        padding-right: 15px;
    }

    nav ul li {
        margin: 0 10px;
    }
    
    .projectAreaHeader {
        margin-top: 5%;
    }

    .projectAreaHeader p {
        font-size: 1.9em;
    }

    .aboutMeBlurbDiv p {
        width: 70vw;
        padding: 50px 0;
        line-height: 1.7em;
    }

    .projectArea {
        grid-column-gap: 30px;
    }

    .project {

        height: 25vw;
    
        
    }
    
}

@media (min-width: 1300px) {
    header {
        width: 100%;
        padding: 0;
        border-bottom: 1px solid rgb(250,250,250);
    }

    header h1 {
        padding-left: 15vw;
    }

    nav ul {
        padding-right: 15vw;
    }

    .aboutMeBlurbDiv {
        font-size: 1.4em;     
    }

    .aboutMeBlurbDiv p {
        margin-top: 0;
        line-height: 1.6em;
        padding: 100px 0;
    }

    .myPic {
        margin-right: 10vw;
    }


    .projectArea {
        max-width: 90%;
        display: block;
        margin: auto;
    }


    .projectArea a {
        text-decoration: none;
        height: 38vh;
    }

    .projectAreaHeader {
        width: 90%;
        margin-right: 2.3%;
        margin-top: 7%;
        margin-bottom: 6%;
        height: 100%;
        font-size: 1.1em;
        padding: 4% 3%;
    }

    .projectAreaHeader p {
        font-size: 1.2em;
        padding-top: 5px;
    }
    
    .projectAreaHeader h1 {
        font-size: 1.5em;
    }

    .project {
        grid-column: span 2;
        color: black;
        display: inline-block;
        width: 30%;
        margin: 1.4%;
        
    }

    .caption-container img {
        background-size: contain;
    }
    
    .caption-text {
        font-size: .8em;
    }
} 

.project:hover .projectTitle {
    text-decoration: underline;
    text-decoration-color: rgb(200, 200, 200);
}

.about-me-intro {
    margin-left: 5vw;
    display: block;
    text-align: left;
    margin-bottom: 0;
}

.nav-link:hover {
    text-decoration: underline !important;
}

a, a.git-link, a.get-link:visited {
    color: white;
}